<div class="empty-state">
    <%= image_tag 'no-results', size: "100" %>
    <p class="empty-state__text mt-3" style="color:purple">
        No results for your search
    </p>

  <%#= link_to "Add customer", new_customer_path, class: "butn butn--primary" %>
</div>