<div class="empty-state">
  <p class="empty-state__text">
    You have not created any store yet!
  </p>

  <%= link_to "Create store", new_store_path, class: "butn butn--primary" if admin?(current_user) %>
</div>