<main class="container">
    <%= link_to sanitize("&larr; Back to stores"), stores_path %>

    <div class="header">
        <h1>Edit store</h1>
    </div>

    <%= render "form", store: @store %>
</main>