<div class="empty-state">
  <p class="empty-state__text">
    You don't have any customers yet!
  </p>

  <%= link_to "Add customer", new_customer_path, class: "butn butn--primary" if admin?(current_user) %>
</div>