<main class="container">
    <div class="header">
        <h1>Customers</h1>
        <span><%= link_to "Add customer", new_customer_path, class: "butn butn--primary", data: { turbo_frame: dom_id(Customer.new) } %></span>
    </div>

    <%= turbo_frame_tag Customer.new %>

    <%= turbo_frame_tag "customers" do %>
        <div class="row">
            <%= render @customers %>
        </div>
    <% end %>
</main>