.form {
    .col {
        padding: 0 .25em;
    }
}

.customer {
    .form-col-1 {
        width: 50%;
    }
    .form-col-2 {
        // width: 35.3%;
        width: 35%;
    }
}

.product-item-date {
    .form-col-1 {
        width: 86%;
    }
    // .form-col-2 {
    //     // width: 35.3%;
    //     width: 36%;
    // }
}

.form-control, .form-select {
    border-color: #f8bbff;
    border-width: 3px;
}

.form-control:focus, .form-select:valid:focus {
    box-shadow: none;
    border: 3px solid var(--color-purple);
}

@include media-breakpoint-up(sm) {
    .form-control {
        margin-bottom: 1rem;
    }
}