<main class="container">
    <div class="header">
        <h1><i class="bi bi-basket"></i> Products</h1>
        <span><%= link_to "Create product", new_product_path, class: "butn butn--primary" %></span>
    </div>

    <% if @products.none? %>
        <%= render "products/empty_state" %>
    <% end %>

    <div class="row">
        <div class="line-item-date__body">
            <div class="line-item line-item--header">
                <div class="line-item__name">Name/description</div>
                <div class="line-item__quantity">Quantity</div>
                <div class="line-item__price">Price</div>
                <div class="line-item__actions"></div>
            </div>
            <%= render @products %>
        </div>
    </div>
</main>