<main class="container">
    <div class="header">
        <h1><i class="bi bi-basket"></i> Products</h1>
        <span><%= link_to "Create product", new_product_path, class: "butn butn--primary" %></span>
    </div>

    <% if @products.none? %>
        <%= render "products/empty_state" %>
    <% end %>

    <div class="row">
        <%= render @products %>
    </div>
</main>